In [1]:
import numpy as np
import pandas as pd

### 1. Загрузить, посмотреть, определить количество строк и объединить 3 датасета: `marketing_campaign.csv`, `users.csv` и `subscribers.csv`.

In [2]:
df_1 = pd.read_csv("./content/HW_1/marketing_campaign.csv", sep=',')
df_1.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [9]:
print(f"Количество строк в датасете df_1: {df_1.shape[0]}")

Количество строк в датасете df_1: 10037

In [10]:
df_2 = pd.read_csv("./content/HW_1/users.csv", sep=',')
df_2.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [11]:
print(f"Количество строк в датасете df_2: {df_2.shape[0]}")

Количество строк в датасете df_2: 10037

In [4]:
df_3 = pd.read_csv("./content/HW_1/subscribers.csv", sep=',')
df_3.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [12]:
print(f"Количество строк в датасете df_3: {df_3.shape[0]}")

Количество строк в датасете df_3: 10037

In [18]:
# t = pd.merge(df_1, df_2, on="user_id")
df = pd.merge(
    pd.merge(df_1, df_2, on="user_id", how="outer")
    , df_3
    , on="user_id"
    , how="outer"
)

df

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German,Email,1/17/18,1/24/18,False
10033,a11033,1/17/18,Email,control,German,True,55+ years,German,Email,1/17/18,NaN,True
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True

### 2. Определить типы и статистики колонок.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

In [20]:
df.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

### 3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [26]:
df.groupby("marketing_channel")["is_retained"].mean().sort_values(ascending=False)

marketing_channel
Email        0.737624
Push         0.727891
Facebook     0.712329
Instagram    0.683246
House Ads    0.660526
Name: is_retained, dtype: float64

Наиболее эффективным маркетинговым каналом по критерию привлечения платящих игроков является `Email`

### 4. Определить количество игроков в каждой возрастной группе

In [29]:
df["age_group"].value_counts()

19-24 years    1682
24-30 years    1568
0-18 years     1539
30-36 years    1355
36-45 years    1353
45-55 years    1353
55+ years      1187
Name: age_group, dtype: int64

### 5. Определить самую раннюю дату подписки на сервис

In [38]:
df["date_subscribed"].dropna().sort_values().head(1)

0    1/1/18
Name: date_subscribed, dtype: object

### 6. Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [50]:
df.groupby(["age_group", "language_preferred"]).agg({"is_retained" : ["count", "mean"]})

                               is_retained
                                     count      mean
age_group   language_preferred
0-18 years  Arabic                       4  0.750000
            English                    308  0.681818
            German                      16  0.625000
            Spanish                      7  0.857143
19-24 years Arabic                       2  0.500000
            English                    441  0.689342
            German                      15  0.733333
            Spanish                     15  0.666667
24-30 years Arabic                       8  0.375000
            English                    358  0.698324
            German                      20  0.750000
            Spanish                      7  0.714286
30-36 years Arabic                       0       NaN
            English                    164  0.695122
            German                       3  0.333333
            Spanish                      8  0.875000
36-45 years Arabic                       2  0.500000
            English                    156  0.685897
            German                       4  0.500000
            Spanish                     10  0.500000
45-55 years Arabic                       3  0.666667
            English                    155  0.696774
            German                       6  0.500000
            Spanish                     15  0.400000
55+ years   Arabic                       2  1.000000
            English                    116  0.741379
            German                       3  0.666667
            Spanish                      8  0.625000